.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #28402e;
  color: white;
  padding: 12px 24px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.create-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.create-btn:hover {
  background: #45a049;
}

.activity-btn {
  background:  #949292;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.activity-btn:hover {
  background-color: #ddd;
}


.board-container{
    display: flex;
    gap: 15px;
    padding: 20px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.board-column {
  background: linear-gradient(to bottom, #f7f8fc, #e9edf5);
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  min-height: 450px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.task-list {
  min-height: 200px;              
  flex-grow: 1;                   
  padding: 10px;
  border: 2px dashed #ccc;        
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: background-color 0.2s ease;
}

.task-list.drag-over {
  background-color: #e6bb96;
}

.task-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.task-card:hover {
  transform: scale(1.02);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.task-meta button{
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.task-meta button:hover {
  text-decoration: underline;
}

.task-meta .delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 4px 6px;
  margin-left: 6px;
  cursor: pointer;
  border-radius: 4px;
}

.task-meta .smart-assign-btn {
  background-color: #529629;
  color: white;
  margin-left: 6px;
  margin-top: 8px;
  padding: 4px 6px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.smart-assign-btn:hover {
  background-color: #04661c;
}


.task-meta .delete-btn:hover {
  background-color: #ff1a1a;
}

.badge {
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 6px;
  color: white;
}

.p1 { background: #2196f3; }
.p2 { background: #ff9800; }
.p3 { background: #f44336; }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
}

.modal {
  color: black;
  background:#e3e0e0;
  padding: 40px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.modal input,
.modal select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal button {
  padding: 8px 12px;
  margin-top: 10px;
  margin-right: 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal button[type="submit"] {
  background: #4caf50;
  color: white;
}

.modal .cancel {
  background: #ccc;
}



@media (max-width: 768px) {
  .board-container {
    flex-direction: column;
    align-items: center;
  }

  .board-column {
    width: 90%;
  }

  .topbar {
    flex-direction: column;
    gap: 10px;
  }
}